<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>wiki</title>
    <link rel="stylesheet" href="<%= Path.join(@root_path, "style.css") %>" />
  </head>
  <body class="px-6 py-16 mx-auto max-w-7xl lg:px-8">
    <%= EEx.eval_file("templates/_header.html.eex", assigns: Keyword.merge(assigns, categories: Wiki.Helpers.categories(""), title: @page.title, filename: @page.filename)) %>
    <%= EEx.eval_file("templates/_listing.html.eex", assigns: assigns) %>
    <main class="mt-8 prose">
      <p class="flex items-center text-red-600 space-x-2">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-5 h-5">
          <path fill-rule="evenodd" d="M10 1a4.5 4.5 0 00-4.5 4.5V9H5a2 2 0 00-2 2v6a2 2 0 002 2h10a2 2 0 002-2v-6a2 2 0 00-2-2h-.5V5.5A4.5 4.5 0 0010 1zm3 8V5.5a3 3 0 10-6 0V9h6z" clip-rule="evenodd" />
        </svg>
        <span>Redacted</span>
      </p>
    </main>
    <%= EEx.eval_file("templates/_footer.html.eex", assigns: []) %>
  </body>
</html>
