<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>wiki</title>
    <link rel="stylesheet" href="<%= Path.join(@root_path, "style.css") %>" />
  </head>
  <body class="px-6 py-16 mx-auto max-w-7xl lg:px-8">
    <%= EEx.eval_file("templates/_header.html.eex", assigns: Keyword.merge(assigns, filename: "index.html")) %>
    <%= EEx.eval_file("templates/_listing.html.eex", assigns: assigns) %>
    <%= EEx.eval_file("templates/_footer.html.eex", assigns: []) %>
  </body>
</html>
